@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-gray-cyan: hsl(186, 14%, 43%);
    --gray-cyan: hsl(184, 14%, 56%);
    --light-gray-cyan: hsl(185, 41%, 84%);
    --very-light-gray-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
    --red: hsla(13, 70%, 61%, 1);
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 1.5rem;
    background-color: var(--light-gray-cyan);
}

.logo {
    margin-top: 3.125rem;
    margin-bottom: 2.5625rem;
}

.main-container {
    width: 100%;
    max-width: 920px;
    min-width: 345px;
    height: fit-content;
    background-color: var(--white);
    border-radius: 1.5625rem 1.5625rem 0rem 0rem;
    box-shadow: 0rem 2rem 2.6875rem rgba(79, 166, 175, 0.200735);
}

.main-form {
    width: 100%;
}

.bill-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.user-label {
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--dark-gray-cyan);
    margin-bottom: 0.375rem;
}

.user-input {
    width: 100%;
    height: 3rem;
    background-color: var(--very-light-gray-cyan);
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2.25rem;
    color: var(--very-dark-cyan);
    text-align: right;
    border: 2px solid var(--very-light-gray-cyan);
    border-radius: 5px;
    padding: 0.375rem 1.125rem;
    outline: none;
    background-image: url(./images/icon-dollar.svg);
    background-position: 6%;
    background-repeat: no-repeat;
    caret-color: var(--strong-cyan);
}

.user-input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.user-input[type=number] {
    -moz-appearance: textfield;
}

.user-input:hover:enabled {
    cursor: pointer;
    border: 2px solid var(--strong-cyan);
    transition: all 0.2s ease-in;
}

.user-input::placeholder {
    mix-blend-mode: normal;
    opacity: 0.35;
}

#bill {
    margin-bottom: 0.375rem;
}

.tip-container {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 2rem;
}

.tip-label {
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--dark-gray-cyan);
    margin-bottom: 1rem;
}

input[type='radio'] {
    display: none;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tip-percentage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    background-color: var(--very-dark-cyan);
    border-radius: 5px;
    color: var(--white);
}

.tip-percentage:hover {
    cursor: pointer;
    background-color: hsla(173, 61%, 77%, 1);
    color: var(--very-dark-cyan);
    transition: all 0.2s ease-in;
}

input[type='radio']:checked+label {
    background-color: hsla(172, 67%, 45%, 1);
    color: var(--very-dark-cyan);
}

.custom-label {
    display: none;
}

.custom {
    margin-bottom: 0rem;
    background-image: none;
    text-align: right;
}

.custom::placeholder {
    color: hsla(180, 18%, 40%, 1);
    opacity: 1;
}

.user-label-container {
    display: flex;
    justify-content: space-between;
}

.num-people {
    margin-top: 0.375rem;
    background-image: url(./images/icon-person.svg);
}

.results-container {
    background-color: var(--very-dark-cyan);
    padding: 2.3125rem 1.5rem 1.5rem 1.5rem;
    margin: 2rem 1.5rem;
    border-radius: 0.9375rem;
}

.totals {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.375rem;
}

.totals:nth-last-child(1) {
    margin-bottom: 2rem;
}

.main-text {
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--white);
}

.per-person {
    font-size: 0.8125rem;
    line-height: 1.1875rem;
    color: var(--gray-cyan);
}

.number {
    font-size: 2rem;
    line-height: 2.9375rem;
    letter-spacing: -0.66px;
    color: var(--strong-cyan);
}

button {
    width: 100%;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.875rem;
    background-color: hsla(183, 78%, 24%, 1);
    text-transform: uppercase;
    color: var(--very-dark-cyan);
    border-radius: 5px;
    border: none;
    padding: 0.5625rem 2.0625rem;
}

button:enabled {
    background-color: var(--strong-cyan);
}

button:hover:enabled {
    cursor: pointer;
    background-color: hsla(172, 61%, 77%, 1);
    transition: all 0.2s ease-in;
}

small {
    font-size: 0.875rem;
    line-height: 1.5rem;
    text-align: right;
    color: var(--red);
}


/* --MEDIA QUERIES-- */

@media screen and (min-width: 768px) {
    .logo {
        margin-top: 0rem;
        margin-bottom: 5.5rem;
    }

    .main-container {
        display: flex;
        border-radius: 1.5625rem;
    }

    .tip-container {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: 2.8125rem 3rem 3rem 3rem;
    }

    .bill-container {
        margin-bottom: 2.5rem;
    }

    .results-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
        margin: 2rem 2rem 2rem 0rem;
    }

    .main-form {
        display: flex;
    }

    .grid {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 1rem;
        column-gap: 0.875rem;
        margin-bottom: 2.5rem;
    }

    .custom::placeholder {
        font-size: 0.9375rem;
    }

    small {
        font-size: 1rem;
    }

    .number {
        font-size: 3rem;
        line-height: 4.4375rem;
        letter-spacing: -1px;
    }
}

@media screen and (min-width: 850px) {
    .custom::placeholder {
        font-size: 1.1875rem;
    }
}

@media screen and (min-width: 920px) {
    .custom::placeholder {
        font-size: 1.375rem;
    }
}